<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/script.js"></script>
	<title>{{ title }}</title>
</head>

<body>
	<div id="main">
		<!--
		<header>
			<img class="logo" src="/img/RTRS_logo.png" alt="Logo RTRS">
		</header>
		-->
		{{{ body }}}
	</div>
</body>

</html>