<h1>{{ title }}</h1>
<a href="/">Все объекты</a>
<div id="list_graphics">
	<button id="day">Графики за день</button>
	<button id="week">Графики за неделю</button>
	{{{graphics data}}}
</div>
{{> graphics}}