<h1>{{ title }}</h1>
<a href="/">Main page</a>
<div id="list_graphics">
	<button id="day">Chart for the day</button>
	<button id="week">Chart for the week</button>
	{{{graphics data}}}
</div>
{{> graphics}}