<h1>List objects</h1>

<div id="list_objects">
	{{#each objects}}
	<div class="accordion">{{this}}</div>
	<div class="panel">
		<div class="flex-container">
			{{{testHelpers 'Door is open'}}}
			{{{testHelpers 'Fair'}}}
			{{{testHelpers 'Network error'}}}
		</div>
	</div>
	{{/each}}
</div>
{{> socket}}