body, h1 {
	margin: 0px;
	font-family: monospace;
}
.logo {
	width: 215px;
	height: 150px;
}
#main {
	width: 90%;
	margin: 0 auto;
}

.accordion {
	list-style: none;
    cursor: pointer;
    margin: 15px 0px;
    border-bottom: solid 1px #bbb;
    font-size: 18px;
    font-family: monospace;
}
.accordion:hover {
	background-color: #ccc;
}
.panel {
	display: none;
}
.panel-active {
	display: block;
}

.flex-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 10px;
}
.flex-container > div {
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 5px;
    width: 100px;
}
.flex-container > div:first-child {
	border-left: none;
}
.flex-container > div:last-child {
	border-right: none;
}

.red {
	background-color: #f00;
}
.green {
	background-color: #0f0;
}